<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#평가방식-MAE" data-toc-modified-id="평가방식-MAE-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>평가방식 MAE</a></span></li><li><span><a href="#library-import" data-toc-modified-id="library-import-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>library import</a></span></li><li><span><a href="#data-load" data-toc-modified-id="data-load-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>data load</a></span></li><li><span><a href="#전처리" data-toc-modified-id="전처리-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>전처리</a></span></li></ul></div>

# 평가방식 MAE
... 회귀....

# library import

In [1]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
from tqdm import tqdm
import warnings
warnings.filterwarnings('ignore')

# data load

In [3]:
train = pd.read_csv('../235743_구내식당 식사 인원 예측 AI 경진대회_data/train.csv')
test = pd.read_csv('../235743_구내식당 식사 인원 예측 AI 경진대회_data/test.csv')

In [4]:
train.head(7)
# 일자
# 요일 ###
# 본사 정원수
# 본사휴가자수
# 본사출장자수
# 본사시간외근무명령서승인건수
# 현본사소속재택근무자수 ###
# 조식메뉴
# 중식메뉴 ###
# 석식메뉴 ###

# 중식계
# 석식계

# 중식계, 석식계는 합계인듯. 예측해야 하는 것.

,일자,요일,본사정원수,본사휴가자수,본사출장자수,본사시간외근무명령서승인건수,현본사소속재택근무자수,조식메뉴,중식메뉴,석식메뉴,중식계,석식계
0,2016-02-01,월,2601,50,150,238,0.0,모닝롤/찐빵 우유/두유/주스 계란후라이 호두죽/쌀밥 (쌀:국내산) 된장찌개 쥐...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 오징어찌개 쇠불고기 (쇠고기:호주산) 계란찜 ...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 육개장 자반고등어구이 두부조림 건파래무침 ...",1039.0,331.0
1,2016-02-02,화,2601,50,173,319,0.0,모닝롤/단호박샌드 우유/두유/주스 계란후라이 팥죽/쌀밥 (쌀:국내산) 호박젓국찌...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 김치찌개 가자미튀김 모둠소세지구이 마늘쫑무...","콩나물밥*양념장 (쌀,현미흑미:국내산) 어묵국 유산슬 (쇠고기:호주산) 아삭고추무...",867.0,560.0
2,2016-02-03,수,2601,56,180,111,0.0,모닝롤/베이글 우유/두유/주스 계란후라이 표고버섯죽/쌀밥 (쌀:국내산) 콩나물국...,"카레덮밥 (쌀,현미흑미:국내산) 팽이장국 치킨핑거 (닭고기:국내산) 쫄면야채무침 ...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 청국장찌개 황태양념구이 (황태:러시아산) 고기...",1017.0,573.0
3,2016-02-04,목,2601,104,220,355,0.0,"모닝롤/토마토샌드 우유/두유/주스 계란후라이 닭죽/쌀밥 (쌀,닭:국내산) 근대국...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 쇠고기무국 주꾸미볶음 부추전 시금치나물 ...","미니김밥*겨자장 (쌀,현미흑미:국내산) 우동 멕시칸샐러드 군고구마 무피클 포...",978.0,525.0
4,2016-02-05,금,2601,278,181,34,0.0,모닝롤/와플 우유/두유/주스 계란후라이 쇠고기죽/쌀밥 (쌀:국내산) 재첩국 방...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 떡국 돈육씨앗강정 (돼지고기:국내산) 우엉잡채...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 차돌박이찌개 (쇠고기:호주산) 닭갈비 (닭고기:...",925.0,330.0
5,2016-02-11,목,2601,383,143,417,0.0,팬케익/찐빵 우유/두유/주스 계란후라이 견과류죽/쌀밥 (쌀:국내산) 감자찌개 ...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 시래기국 훈제오리구이 도토리묵무침 쌈무/양...","참치회덮밥 (쌀,현미흑미:국내산) 맑은국 군만두 과일샐러드 락교 포기김치 (...",1045.0,550.0
6,2016-02-12,금,2601,389,156,93,0.0,모닝롤/야채샌드 우유/두유/주스 계란후라이 고구마죽/쌀밥 (쌀:국내산) 봄동된...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 꽃게탕 돈육굴소스볶음 옥수수전 유채나물 ...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 김치콩나물국 미니함박 어묵볶음 물파래무침 ...",909.0,598.0

In [117]:
# test cell
# '소' in train['중식메뉴'][6]
train['중식메뉴'][1193]
# train[(train['중식메뉴'].str.contains('돈')==False)].head(10)

1

# 전처리

In [5]:
# train[train['중식메뉴'].contains('고기')]
# (train.loc[train['중식메뉴'].str.contains('고기'), '중식메뉴']).count()
train.shape
# train.loc[train['중식메뉴'].str.contains('고기'), '중식메뉴']
train.loc[(train['중식메뉴'].str.contains('쇠'))|(train['중식메뉴'].str.contains('소'))|(train['중식메뉴'].str.contains('고기'))|
          (train['중식메뉴'].str.contains('돼지'))|(train['중식메뉴'].str.contains('돈육'))|
          (train['중식메뉴'].str.contains('닭'))|(train['중식메뉴'].str.contains('치킨'))|
          (train['중식메뉴'].str.contains('오리')), '중식메뉴'] = 1
train.loc[train['중식메뉴']!=1, '중식메뉴'] = 0
# train.loc[(train['중식메뉴'].str.contains('돼지'))|(train['중식메뉴'].str.contains('돈육')), '중식메뉴']
# train.loc[(train['중식메뉴'].str.contains('닭'))|(train['중식메뉴'].str.contains('치킨')), '중식메뉴']
# train.loc[(train['중식메뉴'].str.contains('오리')), '중식메뉴']

(1205, 12)

In [6]:
test.loc[(test['중식메뉴'].str.contains('쇠'))|(test['중식메뉴'].str.contains('소'))|(test['중식메뉴'].str.contains('고기'))|
          (test['중식메뉴'].str.contains('돼지'))|(test['중식메뉴'].str.contains('돈육'))|
          (test['중식메뉴'].str.contains('닭'))|(test['중식메뉴'].str.contains('치킨'))|
          (test['중식메뉴'].str.contains('오리')), '중식메뉴'] = 1
test.loc[test['중식메뉴']!=1, '중식메뉴'] = 0

In [7]:
train['중식메뉴'].value_counts()
test['중식메뉴'].value_counts()

1    869
0    336
Name: 중식메뉴, dtype: int64

1    35
0    15
Name: 중식메뉴, dtype: int64

In [ ]:
# int 형으로 바꾸기
train['중식메뉴'] = train['중식메뉴'].map(int)
test['중식메뉴'] = test['중식메뉴'].map(int)

In [19]:
train.loc[(train['석식메뉴'].str.contains('쇠'))|(train['석식메뉴'].str.contains('소'))|(train['석식메뉴'].str.contains('고기'))|
          (train['석식메뉴'].str.contains('돼지'))|(train['석식메뉴'].str.contains('돈육'))|
          (train['석식메뉴'].str.contains('닭'))|(train['석식메뉴'].str.contains('치킨'))|
          (train['석식메뉴'].str.contains('오리')), '석식메뉴'] = 1
train.loc[train['석식메뉴']!=1, '석식메뉴'] = 0

test.loc[(test['석식메뉴'].str.contains('쇠'))|(test['석식메뉴'].str.contains('소'))|(test['석식메뉴'].str.contains('고기'))|
          (test['석식메뉴'].str.contains('돼지'))|(test['석식메뉴'].str.contains('돈육'))|
          (test['석식메뉴'].str.contains('닭'))|(test['석식메뉴'].str.contains('치킨'))|
          (test['석식메뉴'].str.contains('오리')), '석식메뉴'] = 1
test.loc[test['석식메뉴']!=1, '석식메뉴'] = 0

In [20]:
# int 형으로 바꾸기
train['석식메뉴'] = train['석식메뉴'].map(int)
test['석식메뉴'] = test['석식메뉴'].map(int)

In [8]:
train['요일'].values

array(['월', '화', '수', ..., '금', '월', '화'], dtype=object)

In [9]:
train['요일'] = train['요일'].map({'월':1, '화':2, '수':3, '목':4, '금':5})
test['요일'] = test['요일'].map({'월':1, '화':2, '수':3, '목':4, '금':5})

In [10]:
train['요일']

0       1
1       2
2       3
3       4
4       5
       ..
1200    3
1201    4
1202    5
1203    1
1204    2
Name: 요일, Length: 1205, dtype: int64

In [17]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   일자              1205 non-null   object
 1   요일              1205 non-null   int64
 2   본사정원수           1205 non-null   int64
 3   본사휴가자수          1205 non-null   int64
 4   본사출장자수          1205 non-null   int64
 5   본사시간외근무명령서승인건수  1205 non-null   int64
 6   현본사소속재택근무자수     1205 non-null   float64
 7   조식메뉴            1205 non-null   object
 8   중식메뉴            1205 non-null   int64
 9   석식메뉴            1205 non-null   object
 10  중식계             1205 non-null   float64
 11  석식계             1205 non-null   float64
dtypes: float64(3), int64(6), object(3)
memory usage: 113.1+ KB

In [12]:
import lightgbm as lgbm
import random

In [24]:
X_train_중식 = train[['요일', '현본사소속재택근무자수', '중식메뉴']]
X_train_석식 = train[['요일', '현본사소속재택근무자수', '석식메뉴']]

y_train_중식 = train[['중식계']]
y_train_석식 = train[['석식계']]

X_test_중식 = test[['요일', '현본사소속재택근무자수', '중식메뉴']]
X_test_석식 = test[['요일', '현본사소속재택근무자수', '석식메뉴']]

user_seed = 42
random.seed(user_seed)
LGBM = lgbm.LGBMClassifier(random_state = user_seed, learning_rate = 0.01, n_estimators = 500)

# model_중식 = LGBM.fit(X_train_중식, y_train_중식)
# y_pred_test_중식 = model.predict(X_test_중식, num_iteration = LGBM.best_iteration_)

model_석식 = LGBM.fit(X_train_석식, y_train_석식)
y_pred_test_석식 = model.predict(X_test_석식, num_iteration = LGBM.best_iteration_)

In [25]:
# 중식계 = pd.DataFrame(y_pred_test_중식)
중식계.head()

        0
0   832.0
1   970.0
2   742.0
3  1145.0
4   739.0

In [26]:
석식계 = pd.DataFrame(y_pred_test_석식)
석식계.head()

        0
0   970.0
1   832.0
2   742.0
3  1145.0
4   739.0

In [27]:
findata = pd.concat([test['일자'], 중식계, 석식계], axis = 1)
findata

            일자       0       0
0   2021-01-27   832.0   970.0
1   2021-01-28   970.0   832.0
2   2021-01-29   742.0   742.0
3   2021-02-01  1145.0  1145.0
4   2021-02-02   739.0   739.0
5   2021-02-03   977.0   959.0
6   2021-02-04   955.0   955.0
7   2021-02-05   839.0   839.0
8   2021-02-08  1329.0  1329.0
9   2021-02-09   984.0   984.0
10  2021-02-10   704.0   704.0
11  2021-02-15  1176.0  1176.0
12  2021-02-16   824.0   824.0
13  2021-02-17  1138.0  1138.0
14  2021-02-18   975.0   702.0
15  2021-02-19   977.0   540.0
16  2021-02-22  1249.0  1249.0
17  2021-02-23   839.0   844.0
18  2021-02-24   704.0   704.0
19  2021-02-25   653.0   844.0
20  2021-02-26   660.0   660.0
21  2021-03-02   968.0   839.0
22  2021-03-03  1254.0  1254.0
23  2021-03-04   791.0   791.0
24  2021-03-05   704.0   704.0
25  2021-03-08  1292.0   977.0
26  2021-03-09   591.0   591.0
27  2021-03-10   591.0   591.0
28  2021-03-11   620.0   791.0
29  2021-03-12   923.0   620.0
30  2021-03-15  1252.0  1252.0
31  2021-03-16  1202.0  1202.0
32  2021-03-17  1038.0  1038.0
33  2021-03-18   970.0   970.0
34  2021-03-19   977.0   977.0
35  2021-03-22  1273.0  1273.0
36  2021-03-23   970.0   970.0
37  2021-03-24  1254.0   739.0
38  2021-03-25   895.0   895.0
39  2021-03-26   704.0   704.0
40  2021-03-29  1145.0  1145.0
41  2021-03-30   739.0   739.0
42  2021-03-31   768.0   768.0
43  2021-04-01   895.0   895.0
44  2021-04-02   653.0   653.0
45  2021-04-05  1329.0  1329.0
46  2021-04-06  1015.0  1135.0
47  2021-04-07   768.0   768.0
48  2021-04-08   963.0   963.0
49  2021-04-09   653.0   653.0

In [28]:
findata.columns = ['일자', '중식계', '석식계']
findata

            일자     중식계     석식계
0   2021-01-27   832.0   970.0
1   2021-01-28   970.0   832.0
2   2021-01-29   742.0   742.0
3   2021-02-01  1145.0  1145.0
4   2021-02-02   739.0   739.0
5   2021-02-03   977.0   959.0
6   2021-02-04   955.0   955.0
7   2021-02-05   839.0   839.0
8   2021-02-08  1329.0  1329.0
9   2021-02-09   984.0   984.0
10  2021-02-10   704.0   704.0
11  2021-02-15  1176.0  1176.0
12  2021-02-16   824.0   824.0
13  2021-02-17  1138.0  1138.0
14  2021-02-18   975.0   702.0
15  2021-02-19   977.0   540.0
16  2021-02-22  1249.0  1249.0
17  2021-02-23   839.0   844.0
18  2021-02-24   704.0   704.0
19  2021-02-25   653.0   844.0
20  2021-02-26   660.0   660.0
21  2021-03-02   968.0   839.0
22  2021-03-03  1254.0  1254.0
23  2021-03-04   791.0   791.0
24  2021-03-05   704.0   704.0
25  2021-03-08  1292.0   977.0
26  2021-03-09   591.0   591.0
27  2021-03-10   591.0   591.0
28  2021-03-11   620.0   791.0
29  2021-03-12   923.0   620.0
30  2021-03-15  1252.0  1252.0
31  2021-03-16  1202.0  1202.0
32  2021-03-17  1038.0  1038.0
33  2021-03-18   970.0   970.0
34  2021-03-19   977.0   977.0
35  2021-03-22  1273.0  1273.0
36  2021-03-23   970.0   970.0
37  2021-03-24  1254.0   739.0
38  2021-03-25   895.0   895.0
39  2021-03-26   704.0   704.0
40  2021-03-29  1145.0  1145.0
41  2021-03-30   739.0   739.0
42  2021-03-31   768.0   768.0
43  2021-04-01   895.0   895.0
44  2021-04-02   653.0   653.0
45  2021-04-05  1329.0  1329.0
46  2021-04-06  1015.0  1135.0
47  2021-04-07   768.0   768.0
48  2021-04-08   963.0   963.0
49  2021-04-09   653.0   653.0

In [29]:
findata.to_csv('1st 요일, 재택자수, 중식메뉴, 석식메뉴, 고기 or not.csv', index=False)