# 1️⃣  <span style = 'background-color: lightgreen ; color:black'>**library 및 data load**</span>

In [ ]:
# library load

## 분석 툴
import pandas as pd

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

## 시각화 툴
import matplotlib as mpl
import matplotlib.pyplot as plt

import seaborn as sns

##한글설정
# [참고](https://itisik.tistory.com/114)
import matplotlib.font_manager as fm

font_dirs = ['/nanum', ]
font_files = fm.findSystemFonts(fontpaths=font_dirs)

for font_file in font_files:
    fm.fontManager.addfont(font_file)
    
# 한글 출력을 위해서 폰트 옵션을 설정합니다.
# "axes.unicode_minus" : 마이너스가 깨질 것을 방지

sns.set(font="NanumBarunGothic", 
        rc={"axes.unicode_minus":False},
        style='darkgrid')

import warnings
warnings.filterwarnings(action='ignore')

In [ ]:
# data load
train = pd.read_csv('data/train.csv') # 모델 학습 파일
test = pd.read_csv('data/test.csv') # 모델 시험지 파일
submission = pd.read_csv('data/submission.csv') #답안지 파일 ; 제출 파일 형식

In [ ]:
tr_cols = train.columns.values
te_cols = test.columns.values
sub_cols = submission.columns.values

f'train cols 길이: {len(tr_cols)}'
f'test cols 길이: {len(te_cols)}'
f'submission cols 길이: {len(sub_cols)}'

f'train data에는 있고 test data에는 없는 col: {set(tr_cols) - set(te_cols)}'

'train cols 길이: 11'

'test cols 길이: 10'

'submission cols 길이: 2'

"train data에는 있고 test data에는 없는 col: {'count'}"

### <span style = 'color:orange'> **df.groupby()** </span>
* 집단에 대한 통계량 확인

ex) 습한 날의 count의 평균 이런 걸 볼 수 있음. (우선 습한 정도를 어느정도 기준에 따라 <<심하다/ 보통이다/ 전혀 습하지 않다>> 정도로 전처리 해야함.)

In [ ]:
train.groupby('hour')['count'].count()
# ???

hour
0     60
1     61
2     61
3     61
4     61
5     61
6     61
7     61
8     61
9     61
10    61
11    61
12    61
13    60
14    61
15    61
16    60
17    60
18    61
19    61
20    61
21    60
22    61
23    61
Name: count, dtype: int64

In [ ]:
tr_cols
train.groupby('hour_bef_precipitation')['count'].count()

array(['id', 'hour', 'hour_bef_temperature', 'hour_bef_precipitation',
       'hour_bef_windspeed', 'hour_bef_humidity', 'hour_bef_visibility',
       'hour_bef_ozone', 'hour_bef_pm10', 'hour_bef_pm2.5', 'count'],
      dtype=object)

hour_bef_precipitation
0.0    1411
1.0      46
Name: count, dtype: int64

In [ ]:
## count별~~~
pd.pivot_table(train, index = ['count']).head()

,hour,hour_bef_humidity,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,hour_bef_precipitation,hour_bef_temperature,hour_bef_visibility,hour_bef_windspeed,id
count,,,,,,,,,,
1.0,16.142857,89.166667,0.034167,32.500000,27.200000,0.833333,12.000000,661.833333,3.383333,1279.857143
2.0,11.833333,72.333333,0.033000,39.500000,30.833333,0.833333,13.783333,1020.166667,2.600000,1156.833333
3.0,5.800000,76.000000,0.034200,48.200000,29.600000,0.400000,12.920000,709.000000,2.720000,367.400000
4.0,17.000000,56.000000,0.060000,109.000000,37.000000,1.000000,19.900000,1082.000000,0.900000,584.000000
5.0,7.285714,69.714286,0.027571,49.857143,39.857143,0.428571,12.128571,960.142857,1.857143,1109.000000

In [ ]:
## hour 별~~~
pd.pivot_table(train, index = ['hour']).head()
# pd.pivot_table(train, index = ['hour'], aggfunc = 'count')

,count,hour_bef_humidity,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,hour_bef_precipitation,hour_bef_temperature,hour_bef_visibility,hour_bef_windspeed,id
hour,,,,,,,,,,
0,71.766667,58.169492,0.033763,55.881356,30.982759,0.016949,14.788136,1434.220339,1.965517,1200.016667
1,47.606557,60.459016,NaN,NaN,NaN,0.049180,14.155738,1400.852459,1.836667,1074.918033
2,31.409836,61.721311,0.030492,58.475410,31.366667,0.049180,13.747541,1374.278689,1.633333,1077.885246
3,21.377049,63.131148,0.031213,59.180328,31.466667,0.032787,13.357377,1326.311475,1.620000,1146.704918
4,13.524590,64.573770,0.031984,58.278689,32.116667,0.016393,13.001639,1264.606557,1.409836,1194.786885

In [ ]:
train.shape

(1459, 11)

In [ ]:
train.head()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0,3,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0,49.0
1,6,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0,159.0
2,7,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0,26.0
3,8,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0,57.0
4,9,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0,431.0

# ~~대충 반올림으로 각 피쳐 전처리~~

In [ ]:
train.isnull().sum()

id                          0
hour                        0
hour_bef_temperature        2
hour_bef_precipitation      2
hour_bef_windspeed          9
hour_bef_humidity           2
hour_bef_visibility         2
hour_bef_ozone             76
hour_bef_pm10              90
hour_bef_pm2.5            117
count                       0
dtype: int64

## 반올림

In [ ]:
# pd.DataFrame(map(lambda x: round(x) if x != 'NaN' else 'N', train['hour_bef_temperature']))
for i in tr_cols:
    train[i] = pd.DataFrame(map(lambda x: int(round(x)) if x >= 1 else round(x, 2), train[i])) # 1 미만일 때는 x그대로

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1459 non-null   float64
 3   hour_bef_precipitation  1459 non-null   float64
 4   hour_bef_windspeed      1459 non-null   float64
 5   hour_bef_humidity       1459 non-null   float64
 6   hour_bef_visibility     1459 non-null   float64
 7   hour_bef_ozone          1459 non-null   float64
 8   hour_bef_pm10           1459 non-null   float64
 9   hour_bef_pm2.5          1459 non-null   float64
 10  count                   1459 non-null   int64
dtypes: float64(8), int64(3)
memory usage: 125.5 KB

In [ ]:
## count 별~~
pd.pivot_table(train, index = ['count'])

,hour,hour_bef_humidity,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,hour_bef_precipitation,hour_bef_temperature,hour_bef_visibility,hour_bef_windspeed,id
count,,,,,,,,,,
1,16.142857,76.428571,0.028571,27.857143,19.428571,0.714286,10.285714,567.285714,3.000000,1279.857143
2,11.833333,72.333333,0.033333,39.500000,30.833333,0.833333,13.666667,1020.166667,2.566667,1156.833333
3,5.800000,76.000000,0.034000,48.200000,29.600000,0.400000,13.000000,709.000000,2.800000,367.400000
4,17.000000,56.000000,0.060000,109.000000,37.000000,1.000000,20.000000,1082.000000,0.900000,584.000000
5,7.285714,69.714286,0.027143,49.857143,39.857143,0.428571,12.285714,960.142857,1.785714,1109.000000
...,...,...,...,...,...,...,...,...,...,...
382,16.000000,21.000000,0.070000,37.000000,21.000000,0.000000,21.000000,1939.000000,6.000000,382.000000
398,18.000000,47.000000,0.080000,64.000000,40.000000,0.000000,28.000000,1507.000000,4.000000,2090.000000
402,18.000000,32.500000,0.045000,14.500000,7.500000,0.000000,25.500000,2000.000000,3.000000,1528.500000
425,18.000000,35.000000,0.080000,59.000000,36.000000,0.000000,28.000000,1712.000000,3.000000,1222.000000
431,18.000000,7.000000,0.060000,27.000000,11.000000,0.000000,30.000000,2000.000000,5.000000,9.000000

In [ ]:
## hour 별~~~
pd.pivot_table(train, index = ['hour'])

,count,hour_bef_humidity,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,hour_bef_precipitation,hour_bef_temperature,hour_bef_visibility,hour_bef_windspeed,id
hour,,,,,,,,,,
0,71.766667,57.200000,0.033200,54.950000,29.950000,0.016667,14.566667,1410.316667,1.803333,1200.016667
1,47.606557,60.459016,0.000000,0.000000,0.000000,0.049180,14.163934,1400.852459,1.788525,1074.918033
2,31.409836,61.721311,0.030492,58.475410,30.852459,0.049180,13.704918,1374.278689,1.567213,1077.885246
3,21.377049,63.131148,0.031213,59.180328,30.950820,0.032787,13.327869,1326.311475,1.550820,1146.704918
4,13.524590,64.573770,0.031984,58.278689,31.590164,0.016393,13.032787,1264.606557,1.413115,1194.786885
5,13.114754,66.000000,0.031623,56.721311,30.491803,0.016393,12.688525,1203.426230,1.255738,1091.819672
6,24.557377,67.409836,0.028836,55.229508,30.049180,0.016393,12.344262,1146.229508,1.321311,1112.393443
7,62.360656,67.934426,0.024885,55.606557,30.737705,0.016393,12.196721,1150.311475,1.229508,1086.262295
8,136.688525,64.049180,0.021197,57.918033,30.754098,0.032787,12.606557,1152.868852,1.622951,1086.491803
9,93.540984,57.803279,0.021492,59.147541,31.098361,0.016393,14.311475,1189.098361,1.855738,1076.524590
10,78.803279,51.622951,0.024754,60.081967,29.426230,0.016393,16.278689,1291.295082,2.150820,965.704918
11,88.327869,46.262295,0.029869,59.311475,29.311475,0.000000,17.983607,1358.868852,2.521311,1208.803279
12,111.901639,42.147541,0.036213,56.426230,27.360656,0.016393,19.508197,1469.606557,2.803279,1149.639344
13,120.050000,38.850000,0.044450,55.616667,27.950000,0.016667,20.666667,1512.266667,3.200000,988.616667
14,134.590164,37.573770,0.053344,57.327869,28.377049,0.065574,21.163934,1519.721311,3.639344,1067.327869
15,152.967213,37.393443,0.056459,55.475410,27.327869,0.065574,21.704918,1528.065574,3.721311,1181.918033
16,169.100000,36.450000,0.057550,54.450000,26.050000,0.050000,22.000000,1566.583333,3.783333,1029.100000
17,187.133333,38.883333,0.058350,55.183333,26.650000,0.100000,21.716667,1561.733333,3.781667,1178.950000
18,262.163934,39.786885,0.056590,52.213115,26.262295,0.016393,20.622951,1555.918033,3.703279,1127.327869
19,201.606557,43.573770,0.053967,52.081967,27.409836,0.032787,19.721311,1576.688525,3.631148,1153.147541
20,164.868852,47.573770,0.048279,51.377049,28.377049,0.049180,18.180328,1565.557377,3.213115,1000.934426
21,168.816667,50.450000,0.043517,53.933333,29.200000,0.016667,17.033333,1590.016667,2.770000,1109.116667
22,148.245902,53.950820,0.038066,54.098361,29.721311,0.032787,16.032787,1512.081967,2.472131,1153.327869
23,103.852459,56.393443,0.035148,54.426230,29.590164,0.016393,15.377049,1462.508197,2.191803,1079.836066

## int 처리

In [ ]:
train['hour_bef_ozone'].unique() # ** 이 컬럼을 제외하고는 전부 int로 만들것

array([0.03, 0.04, 0.06, 0.05, 0.02, 0.  , 0.01, 0.07, 0.1 , 0.08, 0.11,
       0.09, 0.12])

In [ ]:
train['hour_bef_precipitation'].unique() # 비, 1,0으로만 존재

array([1., 0.])

In [ ]:
pre_cols = ['hour_bef_temperature', 'hour_bef_precipitation',
'hour_bef_windspeed', 'hour_bef_humidity', 'hour_bef_visibility',
'hour_bef_pm10', 'hour_bef_pm2.5']

for i in pre_cols:
       train[i] = pd.DataFrame(map(lambda x: int(x), train[i]))

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1459 non-null   int64
 3   hour_bef_precipitation  1459 non-null   int64
 4   hour_bef_windspeed      1459 non-null   int64
 5   hour_bef_humidity       1459 non-null   int64
 6   hour_bef_visibility     1459 non-null   int64
 7   hour_bef_ozone          1459 non-null   float64
 8   hour_bef_pm10           1459 non-null   int64
 9   hour_bef_pm2.5          1459 non-null   int64
 10  count                   1459 non-null   int64
dtypes: float64(1), int64(10)
memory usage: 125.5 KB

In [ ]:
train

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0,3,20,16,1,2,89,576,0.03,76,33,49
1,6,13,20,0,1,48,916,0.04,73,40,159
2,7,6,14,0,0,79,1382,0.03,32,19,26
3,8,23,8,0,3,54,946,0.04,75,64,57
4,9,18,30,0,5,7,2000,0.06,27,11,431
...,...,...,...,...,...,...,...,...,...,...,...
1454,2174,4,17,0,2,53,2000,0.03,37,27,21
1455,2175,3,11,0,4,45,2000,0.04,34,19,20
1456,2176,5,18,0,2,54,2000,0.01,30,21,22
1457,2178,21,21,0,4,37,1395,0.08,71,36,216
1458,2179,17,21,0,3,47,1973,0.05,38,17,170

In [ ]:
## count 별~~
pd.pivot_table(train, index = ['count'])

,hour,hour_bef_humidity,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,hour_bef_precipitation,hour_bef_temperature,hour_bef_visibility,hour_bef_windspeed,id
count,,,,,,,,,,
1,16.142857,76.428571,0.028571,27.857143,19.428571,0.714286,10.285714,567.285714,3.000000,1279.857143
2,11.833333,72.333333,0.033333,39.500000,30.833333,0.833333,13.666667,1020.166667,2.500000,1156.833333
3,5.800000,76.000000,0.034000,48.200000,29.600000,0.400000,13.000000,709.000000,2.600000,367.400000
4,17.000000,56.000000,0.060000,109.000000,37.000000,1.000000,20.000000,1082.000000,0.000000,584.000000
5,7.285714,69.714286,0.027143,49.857143,39.857143,0.428571,12.285714,960.142857,1.571429,1109.000000
...,...,...,...,...,...,...,...,...,...,...
382,16.000000,21.000000,0.070000,37.000000,21.000000,0.000000,21.000000,1939.000000,6.000000,382.000000
398,18.000000,47.000000,0.080000,64.000000,40.000000,0.000000,28.000000,1507.000000,4.000000,2090.000000
402,18.000000,32.500000,0.045000,14.500000,7.500000,0.000000,25.500000,2000.000000,3.000000,1528.500000
425,18.000000,35.000000,0.080000,59.000000,36.000000,0.000000,28.000000,1712.000000,3.000000,1222.000000
431,18.000000,7.000000,0.060000,27.000000,11.000000,0.000000,30.000000,2000.000000,5.000000,9.000000

In [ ]:
## hour 별~~~
pd.pivot_table(train, index = ['hour'])

,count,hour_bef_humidity,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,hour_bef_precipitation,hour_bef_temperature,hour_bef_visibility,hour_bef_windspeed,id
hour,,,,,,,,,,
0,71.766667,57.200000,0.033000,54.950000,29.950000,0.016667,14.566667,1410.316667,1.700000,1200.016667
1,47.606557,60.459016,0.000000,0.000000,0.000000,0.049180,14.163934,1400.852459,1.721311,1074.918033
2,31.409836,61.721311,0.030656,58.475410,30.852459,0.049180,13.704918,1374.278689,1.393443,1077.885246
3,21.377049,63.131148,0.031639,59.180328,30.950820,0.032787,13.327869,1326.311475,1.377049,1146.704918
4,13.524590,64.573770,0.032459,58.278689,31.590164,0.016393,13.032787,1264.606557,1.245902,1194.786885
5,13.114754,66.000000,0.032459,56.721311,30.491803,0.016393,12.688525,1203.426230,1.032787,1091.819672
6,24.557377,67.409836,0.029016,55.229508,30.049180,0.016393,12.344262,1146.229508,1.131148,1112.393443
7,62.360656,67.934426,0.025246,55.606557,30.737705,0.016393,12.196721,1150.311475,1.000000,1086.262295
8,136.688525,64.049180,0.020984,57.918033,30.754098,0.032787,12.606557,1152.868852,1.459016,1086.491803
9,93.540984,57.803279,0.021803,59.147541,31.098361,0.016393,14.311475,1189.098361,1.704918,1076.524590
10,78.803279,51.622951,0.024918,60.081967,29.426230,0.016393,16.278689,1291.295082,2.065574,965.704918
11,88.327869,46.262295,0.030164,59.311475,29.311475,0.000000,17.983607,1358.868852,2.475410,1208.803279
12,111.901639,42.147541,0.036230,56.426230,27.360656,0.016393,19.508197,1469.606557,2.803279,1149.639344
13,120.050000,38.850000,0.044500,55.616667,27.950000,0.016667,20.666667,1512.266667,3.200000,988.616667
14,134.590164,37.573770,0.053607,57.327869,28.377049,0.065574,21.163934,1519.721311,3.639344,1067.327869
15,152.967213,37.393443,0.056721,55.475410,27.327869,0.065574,21.704918,1528.065574,3.721311,1181.918033
16,169.100000,36.450000,0.057333,54.450000,26.050000,0.050000,22.000000,1566.583333,3.783333,1029.100000
17,187.133333,38.883333,0.058667,55.183333,26.650000,0.100000,21.716667,1561.733333,3.766667,1178.950000
18,262.163934,39.786885,0.056066,52.213115,26.262295,0.016393,20.622951,1555.918033,3.688525,1127.327869
19,201.606557,43.573770,0.053443,52.081967,27.409836,0.032787,19.721311,1576.688525,3.606557,1153.147541
20,164.868852,47.573770,0.048361,51.377049,28.377049,0.049180,18.180328,1565.557377,3.213115,1000.934426
21,168.816667,50.450000,0.043833,53.933333,29.200000,0.016667,17.033333,1590.016667,2.733333,1109.116667
22,148.245902,53.950820,0.038197,54.098361,29.721311,0.032787,16.032787,1512.081967,2.426230,1153.327869
23,103.852459,56.393443,0.034754,54.426230,29.590164,0.016393,15.377049,1462.508197,2.180328,1079.836066